<template>
  <div class="alert" :class="$store.getters.returnAlert.type">
    <div class="head">
      <h2>{{$store.getters.returnAlert.summary}}</h2>
    </div>
    <div class="body">
      <p>{{$store.getters.returnAlert.message}}</p>
    </div>
    <div class="footer">
      <button @click="close">Close</button>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    close() {
      this.$store.dispatch("closeAlert")
    }
  }
}
</script>

<style scoped>
.alert {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #fff;
  width: 500px;
  height: 300px;
  border-radius: 8px;
}

.alert .head {
  height: 50px;
  padding: 1rem;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.alert .body {
  height: 200px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.alert .footer {
  height: 50px;
  border-top: 1px solid #000;
  padding: 1rem;

  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.alert .footer button {
  height: 30px;
  padding: 0.4rem 0.6rem;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.alert.s .footer button {
  background: green;
}

.alert.w .footer button {
  background: rgb(184, 184, 44);
}

.alert.d .footer button {
  background: red;
}

@media screen and (max-width: 728px){
  .alert {
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 456px){

  .alert .head h2 {
    font-size: 16px;
    font-weight: 600;
  }

  .alert .body{
    font-size: 14px;
  }
}
</style>