<template>
  <form @submit.prevent="trigger">
    <h1>Create a new alert</h1>
    <div class="form-group">
      <label>Type of alert</label>
      <select class="form-control" v-model="alert.type">
        <option value="s">Success</option>
        <option value="w">Warning</option>
        <option value="d">Danger</option>
      </select>
    </div>
    <div class="form-group">
      <label>Alert Summary</label>
      <input type="text" class="form-control" v-model="alert.summary">
    </div>
    <div class="form-group">
      <label>Alert Message</label>
      <textarea type="text" class="form-control lg" v-model="alert.message"></textarea>
    </div>
    <button type="submit">Trigger Alert</button>
  </form>
</template>

<script>
export default {
  data() {
    return {
      alert: {
        type: '',
        summary: '',
        message: ''
      }
    }
  },
  methods: {
    trigger() {
      this.$store.dispatch("triggerAlert", this.alert)
    }
  }
}
</script>

<style scoped>
form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
}

form h1 {
  text-align: center;
  padding: 1rem;
}

form  .form-group  label {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 10px;
  padding: 0.2rem  0  0.2rem  0;
}
form .form-group {
  display: flex;
  flex-direction: column;
}

form .form-group .form-control {
  height: 36px;
  background: #ECECEC;
  color: #000;
  border: none;
  outline: 1px solid #D9D9D9;
  border-radius: 4px;
  padding:  0 0 0 0.2rem;
  margin-bottom: 1rem;
  transition: background .2s linear;
}

form .form-group .form-control.lg {
  height: 10rem;
  padding: 0.2rem;
}

form .form-group .form-control:focus {
  outline: 2px solid #000;
  background: #FFF;
}

form button {
  width: 100%;
  padding: 12px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  background-color: #000;
  border-radius: 20px;
}

form button:hover {
  background-image: linear-gradient(rgba(66,66,66,0.4) 0 0);
}

@media screen and (max-width: 728px){
  form {
    width: auto;
    height: auto;
  }
}
</style>