<template>
  <div class="container">
    <Alert v-if="$store.getters.isAlertShowing" />
    <Form v-else />
  </div>
</template>

<script>
export default {
  
}
</script>

<style scoped>
.container {
  width: 80%;
  height: 720px;
  padding: 1rem;
  margin: 2rem auto;
  background: #000;
  border-radius: 12px;
  display: flex;
}
</style>